/*
Author : Irwan Setiawan
Email : irwans17@yahoo.com
Created : 17/04/2012
Theme Color: Hijau Toska
*/

body {
	margin: 0;
	padding: 0;
	background: #ededed url(../images/bg_body_toska.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

hr {
	display: none;
}

/* Header */

#header {
	height: 130px;
	background: url(../images/header_toska.jpg) no-repeat left top;
}
#page a, #page a:link, #page a:visited{color:#0557a4;text-decoration:none} 
#page a:hover{color:#552604;text-decoration:underline}
#leftside h4, #rightside h4, #middle h4  {
	background:#95bcbe;
	background-image: -moz-linear-gradient(rgba(172, 216, 219, 1) 0%, rgba(149, 188, 190, .9) 90%);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(4, 73, 143, 1)), to(rgba(108, 191, 255, .9)));/*for not FF*/
	}



